@font-face {
  font-family: "Baskervville";
  src: url("font_system/Baskervville-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baskervville-Italic";
  src: url("font_system/Baskervville-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

a{
  color: unset;
  text-decoration: none;
}

#titre{
  position: fixed;
  top: 40px;
  left: 0;
  font-weight: normal;
  width: 20vw;
  text-align: center;
  cursor: pointer;
  font-family: Baskervville;
  font-size: 25px;
  transition: .2s;
}

#titre:hover{
  opacity: .3;
  letter-spacing: -17px;
}

#tolist{
  position: fixed;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  z-index: 3;
  left: 2vw;
  width: 15vw;
  background-color: white;
  font-weight: normal;
  top: calc(100% - 90px);
  border: 1px solid transparent;
  padding: 7px 0 5px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

#tolist:hover{
  border: 1px solid black;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Baskervville";
  font-weight: 800;
}

#chien {
  left: 20vw;
}

#poney {
  left: 60vw;
  cursor: grab;
}

#poney:active {
  cursor: grabbing;
}

#sentence {
  position: absolute;
 height: auto;
  top: 100vh;
}

p {
  margin: 0;
}

p .fonts {
  display: block;
  padding: 5px;
  font-size: 17px;
  margin: 0 10px 0 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  color: black;
}

p .fonts:hover {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

p .fontSelect {
  display: block;
  margin: 0 10px 0 10px;
  padding: 5px;
  font-family: Baskervville;
  border-top: 1px solid black;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  color: black;
}

p .fontSelect:hover {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.large {
  position: relative;
  display: block;
  left: 20vw;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cancan {
  position: absolute;
  top: 90px;
}

#paragraph {
  position: relative;
  min-height: 500px;
  overflow: hidden;
  font-weight: normal;
  top: 10vh;
  left: 20vw;
}

#paragraph01 {
  display: inline-block;
  position: absolute;
}
#paragraph02 {
  display: inline-block;
  position: absolute;
  left: 45vw;
}

#listOne {
  position: fixed;
  background-color: white;
  border-right: 1px solid black;
  border-left: 1px solid black;
  top: 40px;
  cursor: pointer;
  left: 20vw;
  font-size: 22px;
  line-height: 20px;
  overflow: hidden;
  height: 20px;
  font-weight: normal;
  padding: 5px;
}

#listOne:hover {
  background-color: white;
}

#listTwo {
  position: fixed;
  cursor: pointer;
  text-align: left;
  top: 40px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  font-weight: normal;
  left: 60vw;
  background-color: white;
  font-size: 22px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  padding: 5px;
}

#listTwo:hover {
  background-color: white;
}

#text {
  position: sticky;
  top: calc(100% - 150px);
  color: white;
  background-color: black;
  border: 1px solid white;
  left: 2vw;
  width: calc(15vw - 10px);
  padding: 5px;
  font-size: 1.2rem;
}

#modificationMenu {
  position: fixed;
  left: 0;
  width: 20vw;
  font-variant: none;
  text-align: center;
  top: 90px;
  pointer-events: none;
}

.buttonMenu {
  display: inline-block;
  background-color: white;
  padding: 7px 0 7px 0;
  cursor: pointer;
  pointer-events: all;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid white;
  border-top: 1px solid black;
  font-weight: normal;
  letter-spacing: 0.2em;
  width: 13.3vw;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.buttonMenuRight {
  border-bottom: 1px solid black;
}

.buttonMenu:hover {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#lockSize01 {
  position: absolute;
  top: 40px;
  left: 20vw;
  width: 35vw;
  text-align: right;
}

#lockSize02 {
  position: absolute;
  top: 40px;
  left: 60vw;
  width: 35vw;
  text-align: right;
}

#rangeT01 {
  display: inline-block;
}

#rangeT02 {
  display: inline-block;
}

#changeOne {
  display: inline-block;
  height: 26px;
  width: 26px;
  background-color: black;
  border: 1px solid black;
  border-radius: 20px;
}

#changeTwo {
  display: inline-block;
  height: 26px;
  width: 26px;
  background-color: black;
  border: 1px solid black;
  border-radius: 20px;
}

input[type="range"].custom-slider {
  -webkit-appearance: none;
  /*nécessaire pour Chrome */
  padding: 0;
  /* nécessaire pour IE */
  font: inherit;
  /* même rendu suivant font document */
  outline: 1px solid white;
  color: black;
  /* sert pour couleur de référence, via currentColor, pour le curseur */
  opacity: 1;
  height: 26px;
  background: black;
  /* sert pour couleur de fond de la zone de déplacement */
  box-sizing: border-box;
  /* même modèle de boîte pour tous */
  cursor: pointer;
}

input[type="range"].custom-slider.custom-slider-bullet::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: white;
  /* le bord */
}

input[type="range"].custom-slider.custom-slider-bullet::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: white;
  /* le bord */
}

input[type="range"].custom-slider.custom-slider-bullet::-ms-thumb {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: white;
  /* le bord */
}

input[type="range"].custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* également nécessaire sur le curseur */
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: white;
  /* le bord */
}
